:root {
    --logo_top:20px;
    --side_dot_offset: 375px;
  }
body{
    margin: auto;
    display: flex;
    width: 100%;
    max-width: 2000px;
    min-width: 1400px;
    height: 8100px;
    flex-direction: column;
    object-position: center top;
    font-family: 'Noto Serif TC', serif;
}
.bg1{
    position: relative;
    background-image: url("element_img/background_1.png");
    width: 100%;
    height: 1100px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 1;
}

.bg1 .cloud{
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 130px;
    object-fit: fill;
    object-position: center 0%;
    z-index: 2;
}
.bg1 .content{
    position: absolute;
    --width: 100%;
    height: 800px;
    top: 75px;
    width: var(--width);
}

.bg1 .about_us{
    position: absolute;
    --width: 350px;
    height: 300px;
    width: var(--width);
    top: var(--logo_top);
    left: calc(50% - (var(--width)/2));
    z-index: 2;
    object-fit: fill;
    object-position: center top;
}
.bg1 .content .about_us_content{
    position: absolute;
    height: 550px;
    --width: 850px;
    width: var(--width);
    z-index: 4;
    left: calc(50% -  var(--width) / 2);
    top: calc(var(--logo_top) + 280px); 
    object-fit: fill;
    object-position: center top;
}

.bg1 .side_dot{
    position: absolute;
    width: 120px;
    height: 485px;
    top: calc(var(--logo_top) + 150px);
}
.bg1 .side_dot.left{
    right: calc(50% + var(--side_dot_offset));
    object-fit: fill;
    object-position: center top;
    z-index: 2;
}
.bg1 .side_dot.right{
    left:calc(50% + var(--side_dot_offset));
    object-fit: fill;
    object-position: center top;
    z-index: 2;
}
.bg1 .bottom_dot{
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 200px;
    bottom: -50px;
    object-fit: fill;
    object-position: center 0%;
    z-index: 2;
}

.bg1.second .recycle_content{
    position: absolute;
    bottom: 30px;
    --width: 1200px;
    max-width: 1500px;
    left: calc((100% - var(--width))/2 );
    width: var(--width);
    height: 1000px;
}

.bg1.second .recycle_content .recycle_background{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center top;
    z-index: 2;
}


.bg1.second .cloud{
    position: absolute;
    top: -140px;
    width: 100%;
    height: 150px;
    object-fit: fill;
    object-position: center 0%;
    z-index: 1;
}

.bg1.second .recycle_content_string{
    position: absolute;
    object-fit: fill;
    left: 40px;
    height: 700px;
    bottom: 40px;
    width: calc(100% - 70px);
    z-index: 2;
}
.bg1.second .icon{
    position: absolute;
    right: 110px;
    width: 300px;
    height: 300px;
    top: 100px;
    background-color: #f15a24;
    border-radius: 100%;
    z-index: 2;
}
.bg1.second .icon .icon_cup{
    position: absolute;
    top: 20px;
    --width: 115px;
    width: var(--width);
    height: 260px;
    left: calc(50% - var(--width) / 2);
    object-fit: fill;
}

.bg2{
    position: relative;
    background-image: url("element_img/background_2.png");
    width: 100%;
    height: 2400px;
    margin: 0%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 1;
}

.bg2 .title{
    position: absolute;
    object-fit: fill;
    --width: 400px;
    width: var(--width);
    height: 150px;
    top: 150px;
    left: calc(50% - var(--width) / 2);
}

.bg2 .icon{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 300px;
    left: 250px;
}

.bg2 .icon .icon_background{
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 2;
}
.bg2 .icon .icon_cup{
    position: absolute;
    --width: 350px;
    top: 20px;
    left: calc(50% - var(--width) / 2 + 3px);
    width: var(--width);
    height: 350px;
    object-fit: fill;
    z-index: 3;
}

.bg2 .cup_infomation{
    position: absolute;
    --width: 600px;
    left: 200px;
    width: var(--width);
    height: 600px;
    top: 200px;
    left: calc(50% - 20px);
}

.bg2 .detail_table{
    position: absolute;
    object-fit: fill;
    --width: 100%;
    width: calc(var(--width));
    height: 1600px;
    bottom: 50px;
    left: -10px;
}

.bg3{
    position: relative;
    background-image: url("element_img/background_3.png");
    width: 100%;
    height: 1200px;
    margin: 0%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 1;
}

.bg3 .title{
    position: absolute;
    object-fit: fill;
    --width: 500px;
    width: var(--width);
    height: 200px;
    top: 100px;
    left: calc(50% - var(--width) / 2 + 20px);
}

.bg3 .feature{
    position: absolute;
    object-fit: fill;
    --width: calc(100% - 400px);
    width: var(--width);
    height: 950px;
    top: 230px;
    left: calc(50% - var(--width) / 2);
}


.bg4{
    position: relative;
    background-image: url("element_img/background_4.png");
    width: 100%;
    height: 1200px;
    margin: 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg4 .title{
    position: absolute;
    object-fit: fill;
    --width: 400px;
    width: var(--width);
    height: 150px;
    top: 100px;
    left: calc(50% - var(--width) / 2 - 10px);
}
.bg4 .top_dot{
    position: absolute;
    object-fit: fill;
    --width: calc(100% - 200px);
    width: var(--width) ;
    height: 200px;
    top: 25px;
    left: calc(50% - var(--width) / 2);
}

.bg4 .contact_us{
    position: absolute;
    display: flex;
    flex-direction: column;
    --width: 600px;
    width: var(--width);
    height: 600px;
    border: black 2px solid;
    left: calc(50% - var(--width) / 2);
    top: 350px;
    padding: 50px 50px 50px 50px;
    box-sizing: border-box;   
}

.bg4 .contact_us_content{
    font-size: 24px;
    margin: 20px 0px;
    font-weight: 600;
    text-align: center;
}
.bg4 .logo{
    position: absolute;
    object-fit: fill;
    width: 275px ;
    height: 275px;
    bottom: -20px;
    right: -150px;
}

.bg4 .cloud{
    position: absolute;
    object-fit: fill;
    width: 400px ;
    height: 182px;
    bottom: -75px;
    right: -175px;
}

.bg5{
    position: relative;
    background-image: url("element_img/background_5.png");
    width: 100%;
    height: 1100px;
    margin: 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg5 .title{
    position: absolute;
    object-fit: fill;
    --width: 400px;
    width: var(--width);
    height: 173px;
    top: 15px;
    left: calc(50% - var(--width) / 2 + 20px);
}

.bg5 .order_section{
    display: flex;
    flex-direction: column;
    position: absolute;
    --width: 620px;
    height: 800px;
    width: var(--width);
    top: 125px;
    left: calc(50% - var(--width) / 2 );
    padding: 50px;
    box-sizing: border-box;   
}
.bg5 .input_section{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.bg5 .row_section{
    display: flex;
    flex-direction: row;
}
.bg5 .input_section a{
    color:rgba(0, 0, 0, 0.50)
}
.bg5 input{
    padding-left: 10px;
}

.bg5 .input_large{
    margin-top: 10px;
    font-size: 16px;
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 20px;
    
}
.bg5 .input_md{
    margin-top: 10px;
    font-size: 16px;
    width: 240px;
    height: 50px;
    border: none;
    border-radius: 20px;
}

.bg5 textarea{
    padding: 15px;
    margin-top: 10px;
    font-size: 16px;
    width: 500px;
    height: 200px;
    border: none;
    border-radius: 20px;
    resize: none;
}

button {
    width: 500px;
    height: 60px;
    font-size: 16pt;
    background: rgba(113, 172,179, 1);
    border-radius: 25px;
  }
  
  button a {
    color: rgba(0,0,0,0.65);
    text-transform:uppercase;
    letter-spacing:1px;
  }
  
  /* let's shape */
  button span.shape {
    height: 60px;
    width: 160px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  button span span {
    content:"";
    position: absolute;
    margin: auto;
    height: 8px;
    width: 2px;
    background: rgba(113, 172,179, 1);
    opacity: 0;
  }
  
  button span span:nth-of-type(1) {
    top: -20px;
    left: 0;
    right: 0;
  }
  
  button span span:nth-of-type(2) {
    bottom: -20px;
    left: 0;
    right: 0;
  }
  
  button span span:nth-of-type(3) {
    top:0;
    bottom: 0;
    left: -10px;
  }
  
  button span span:nth-of-type(4) {
    top:0;
    bottom: 0;
    right: -10px;
  }
  
  button span span:nth-of-type(5) {
    top: -20px;
    left: -70%;
    right: 0;
    transform:rotate(-30deg);
  }
  
  button span span:nth-of-type(6) {
    top: -20px;
    left: 0;
    right: -70%;
    transform:rotate(30deg);
  }
  
  button span span:nth-of-type(7) {
    bottom: -20px;
    right: 0;
    left: -70%;
    transform:rotate(30deg);
  }
  
  button span span:nth-of-type(8) {
    bottom: -20px;
    left: 0;
    right: -70%;
    transform:rotate(-30deg);
  }
  
  /* let's animate this */
  @keyframes bounce {
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
  }
  
  button.active {
    animation: bounce 0.3s ease-out 1;
  }
  
  button.active span span:nth-of-type(1) {
    animation: anim1 0.4s ease-out 1;
  }
  button.active span span:nth-of-type(2) {
    animation: anim2 0.4s ease-out 1;
  }
  button.active span span:nth-of-type(3) {
    animation: anim3 0.4s ease-out 1;
  }
  button.active span span:nth-of-type(4) {
    animation: anim4 0.4s ease-out 1;
  }
  button.active span span:nth-of-type(5) {
    animation: anim5 0.4s ease-out 1;
  }
  button.active span span:nth-of-type(6) {
    animation: anim6 0.4s ease-out 1;
  }
  button.active span span:nth-of-type(7) {
    animation: anim7 0.4s ease-out 1;
  }
  button.active span span:nth-of-type(8) {
    animation: anim8 0.4s ease-out 1;
  }
  
  @keyframes anim1 {
    0%{transform: scaleY(0.5);opacity: 0;}
    50%{transform: translateY(-10px) scaleY(1.4); opacity: 1;}
    100%{transform: translateY(-20px) scaleY(0.5);opacity: 0;}
  }
  @keyframes anim2 {
    0%{transform: scaleY(1);opacity: 0;}
    50%{transform: translateY(10px) scaleY(1.4); opacity: 1;}
    100%{transform: translateY(20px) scaleY(0.5);opacity: 0;}
  }
  @keyframes anim3 {
    0%{transform: rotate(90deg) scaleX(0.5);opacity: 0;}
    50%{transform: rotate(90deg) translateY(10px) scaleX(1.4); opacity: 1;}
    100%{transform: rotate(90deg) translateY(20px) scaleX(0.5);opacity: 0;}
  }
  @keyframes anim4 {
    0%{transform: rotate(90deg) scaleX(0.5);opacity: 0;}
    50%{transform: rotate(90deg) translateY(-10px) scaleX(1.4); opacity: 1;}
    100%{transform: rotate(90deg) translateY(-20px) scaleX(0.5);opacity: 0;}
  }
  @keyframes anim5 {
    0%{transform: rotate(-30deg) scaleY(0.5);opacity: 0;}
    50%{transform: rotate(-30deg) translateY(-8px) scaleY(1.4); opacity: 1;}
    100%{transform: rotate(-30deg) translateY(-16px) scaleY(0.5);opacity: 0;}
  }
  @keyframes anim6 {
    0%{transform: rotate(30deg) scaleY(0.5);opacity: 0;}
    50%{transform: rotate(30deg) translateY(-8px) scaleY(1.4); opacity: 1;}
    100%{transform: rotate(30deg) translateY(-16px) scaleY(0.5);opacity: 0;}
  }
  @keyframes anim7 {
    0%{transform: rotate(30deg) scaleY(0.5);opacity: 0;}
    50%{transform: rotate(30deg) translateY(8px) scaleY(1.4); opacity: 1;}
    100%{transform: rotate(30deg) translateY(16px) scaleY(0.5);opacity: 0;}
  }
  @keyframes anim8 {
    0%{transform: rotate(-30deg) scaleY(0.5);opacity: 0;}
    50%{transform: rotate(-30deg) translateY(8px) scaleY(1.4); opacity: 1;}
    100%{transform: rotate(-30deg) translateY(16px) scaleY(0.5);opacity: 0;}
  }