:root {
    --logo_top:20px;
    --side_dot_offset: 375px;
  }
body{
    margin: auto;
    display: flex;
    width: 100%;
    max-width: 2000px;
    min-width: 1400px;
    height: 7750px;
    flex-direction: column;
    object-position: center top;
    font-family: 'Noto Serif TC', serif;
}
.bg1{
    position: relative;
    background-image: url("element_img/background_1.png");
    width: 100%;
    height: 1100px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 1;
}

.bg1 .cloud{
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 130px;
    object-fit: fill;
    object-position: center 0%;
    z-index: 2;
}
.bg1 .content{
    position: absolute;
    --width: 100%;
    height: 800px;
    top: 75px;
    width: var(--width);
}

.bg1 .about_us{
    position: absolute;
    --width: 350px;
    height: 300px;
    width: var(--width);
    top: var(--logo_top);
    left: calc(50% - (var(--width)/2));
    z-index: 2;
    object-fit: fill;
    object-position: center top;
}
.bg1 .content .about_us_content{
    position: absolute;
    height: 550px;
    --width: 850px;
    width: var(--width);
    z-index: 4;
    left: calc(50% -  var(--width) / 2);
    top: calc(var(--logo_top) + 280px); 
    object-fit: fill;
    object-position: center top;
}

.bg1 .side_dot{
    position: absolute;
    width: 120px;
    height: 485px;
    top: calc(var(--logo_top) + 150px);
}
.bg1 .side_dot.left{
    right: calc(50% + var(--side_dot_offset));
    object-fit: fill;
    object-position: center top;
    z-index: 2;
}
.bg1 .side_dot.right{
    left:calc(50% + var(--side_dot_offset));
    object-fit: fill;
    object-position: center top;
    z-index: 2;
}
.bg1 .bottom_dot{
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 200px;
    bottom: -50px;
    object-fit: fill;
    object-position: center 0%;
    z-index: 2;
}

.bg1.second .recycle_content{
    position: absolute;
    bottom: 30px;
    --width: 1200px;
    max-width: 1500px;
    left: calc((100% - var(--width))/2 );
    width: var(--width);
    height: 1000px;
}

.bg1.second .recycle_content .recycle_background{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center top;
    z-index: 2;
}


.bg1.second .cloud{
    position: absolute;
    top: -140px;
    width: 100%;
    height: 150px;
    object-fit: fill;
    object-position: center 0%;
    z-index: 1;
}

.bg1.second .recycle_content_string{
    position: absolute;
    object-fit: fill;
    left: 40px;
    height: 700px;
    bottom: 40px;
    width: calc(100% - 70px);
    z-index: 2;
}
.bg1.second .icon{
    position: absolute;
    right: 110px;
    width: 300px;
    height: 300px;
    top: 100px;
    background-color: #f15a24;
    border-radius: 100%;
    z-index: 2;
}
.bg1.second .icon .icon_cup{
    position: absolute;
    top: 20px;
    --width: 115px;
    width: var(--width);
    height: 260px;
    left: calc(50% - var(--width) / 2);
    object-fit: fill;
}

.bg2{
    position: relative;
    background-image: url("element_img/background_2.png");
    width: 100%;
    height: 2200px;
    margin: 0%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 1;
}

.bg2 .title{
    position: absolute;
    object-fit: fill;
    --width: 400px;
    width: var(--width);
    height: 150px;
    top: 125px;
    left: calc(50% - var(--width) / 2);
}
.bg2 .icon_infomation{
    position: absolute;
    top: 300px;
    width: 1200px;
    height: 300px;
    left: calc(50% - 600px);
}
.bg2 .icon{
    position: absolute;
    width: 300px;
    height: 100%;
    left: 100px;
}

.bg2 .icon .icon_background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.bg2 .icon .icon_cup{
    position: absolute;
    top: 20px;
    left: calc(50% - 45px);
    width: 90px;
    height: 180px;
    top: calc(50% - 90px);
    object-fit: fill;
    z-index: 3;
}

.bg2 .cup_infomation{
    position: absolute;
    left: 200px;
    width: 500px;
    height: 100%;
    left: calc(50% - 20px);
}

.bg2 .detail_table{
    position: absolute;
    object-fit: fill;
    width: 1200px;
    height: 1400px;
    bottom: 50px;
    left: calc(50% - 600px);
}

.bg3{
    position: relative;
    background-image: url("element_img/background_3.png");
    width: 100%;
    height: 1100px;
    margin: 0%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 1;
}

.bg3 .title{
    position: absolute;
    object-fit: fill;
    --width: 500px;
    width: var(--width);
    height: 200px;
    top: 50px;
    left: calc(50% - var(--width) / 2 + 20px);
}

.bg3 .feature{
    position: absolute;
    object-fit: fill;
    --width: 1200px;
    width: var(--width);
    height: 813px;
    top: 180px;
    left: calc(50% - var(--width) / 2);
}


.bg4{
    position: relative;
    background-image: url("element_img/background_4.png");
    width: 100%;
    height: 1200px;
    margin: 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg4 .title{
    position: absolute;
    object-fit: fill;
    --width: 400px;
    width: var(--width);
    height: 150px;
    top: 100px;
    left: calc(50% - var(--width) / 2 - 10px);
}
.bg4 .top_dot{
    position: absolute;
    object-fit: fill;
    --width: calc(100% - 200px);
    width: var(--width) ;
    height: 200px;
    top: 25px;
    left: calc(50% - var(--width) / 2);
}

.bg4 .contact_us{
    position: absolute;
    display: flex;
    flex-direction: column;
    --width: 600px;
    width: var(--width);
    height: 600px;
    border: black 2px solid;
    left: calc(50% - var(--width) / 2);
    top: 350px;
    padding: 50px 50px 50px 50px;
    box-sizing: border-box;   
}

.bg4 .contact_us_content{
    font-size: 24px;
    margin: 20px 0px;
    font-weight: 600;
    text-align: center;
}
.bg4 .logo{
    position: absolute;
    object-fit: fill;
    width: 275px ;
    height: 275px;
    bottom: -20px;
    right: -150px;
}

.bg4 .cloud{
    position: absolute;
    object-fit: fill;
    width: 400px ;
    height: 182px;
    bottom: -75px;
    right: -175px;
}

.bg5{
    position: relative;
    background-image: url("element_img/background_5.png");
    width: 100%;
    height: 1050px;
    margin: 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg5 .title{
    position: absolute;
    object-fit: fill;
    --width: 400px;
    width: var(--width);
    height: 173px;
    top: 15px;
    left: calc(50% - var(--width) / 2 + 20px);
}

.bg5 .order_section{
    display: flex;
    flex-direction: column;
    position: absolute;
    --width: 620px;
    height: 900px;
    width: var(--width);
    top: 125px;
    left: calc(50% - var(--width) / 2 );
    padding: 50px;
    box-sizing: border-box;   
}
.bg5 .input_section{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.bg5 .row_section{
    display: flex;
    flex-direction: row;
}
.bg5 .input_section a{
    color:rgba(0, 0, 0, 0.50)
}
.bg5 input{
    padding-left: 10px;
}

.bg5 .input_large{
    margin-top: 10px;
    font-size: 16px;
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 20px;
    
}
.bg5 .input_md{
    margin-top: 10px;
    font-size: 16px;
    width: 240px;
    height: 50px;
    border: none;
    border-radius: 20px;
}

.bg5 textarea{
    padding: 15px;
    margin-top: 10px;
    font-size: 16px;
    width: 500px;
    height: 200px;
    border: none;
    border-radius: 20px;
    resize: none;
}

.btn {
    width: 500px;
    height: 50px;
    font-size: 14pt;
    margin: 20px 10px;
    border: none;
    border-radius: 15px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(103, 156,163, 1);
}

.btn:active{
    margin: 22px 10px;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(103, 156,163, 1);
}

.footer{
    position: absolute;
    bottom: 33px;
    width: 1400px;
    height: 30px;
    left: calc(50% - 700px);
}

.footer img{
    position: absolute;
    object-fit: fill;
    width: 100%;
    height: 100%; 
}